

.carousel-slide-btn {
  color: #06283D;
  font-size: 30px;
}

/* Form */

form {
  border-radius: 20px;
  width: 90%;
}

.g-3 {
  margin: 10px 0;
  padding: 8px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #06283D;
}

.btn-main {
  background-color: #06283D;
  color: #47B5FF;
  font-weight: bold;
  padding: 5px 25px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.btn-main:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #06283D;
  border: 2px solid #06283D;
}

@media screen and (max-width: 600px) {

  .intro {
    width: 100%;
  }

  form {
    width: 100%;
  }
}