.gallery {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-holder {
  padding: 4px;
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.main-item {
  width: 100%;
  border-radius: 12px;
}

.img-holder:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.gallery-big {
  position: absolute;
  bottom: 30%;
  left: -25vw;
  width: 28vw;
  border: 3px solid #06283D;
  border-radius: 20px;
  padding: 2px;
  overflow: hidden;
  transition: all 0.6s ease-out;
}

.gallery-big img {
  width: 100%;
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
}

.gallery-big:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .gallery {
    width: 100%;
    margin-bottom: 0px;
  }

  .img-holder {
    margin-bottom: 10px;
  }
}